<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/@vuepic/vue-datepicker@latest/dist/main.css">
    <title>停車統計</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <%- include('./layout/header'); -%>
            <div class="content">
                <div class="tab-content" id="nav-tabContent">
                    <!-- 即時現況 -->
                    <div class="tab-pane fade show active" id="nav-instant" role="tabpanel"
                        aria-labelledby="nav-instant-tab">
                        <div class="isLoading d-flex justify-content-center" v-if="isLoading">
                            <img src="../assets/images/loading.svg" alt="loading" class="w-25">
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h4 class="mb-3">本日全部車輛</h4>
                                <ul class="instant">
                                    <li class="fs-6">累積進出<br>
                                        <span class="fs-4 text-dark">{{todayAllData.total}}</span>
                                    </li>
                                    <li class="fs-6">累積進場<br>
                                        <span class="fs-4 text-dark">{{todayAllData.countInCar}}</span>
                                    </li>
                                    <li class="fs-6">累積出場<br>
                                        <span class="fs-4 text-dark">{{todayAllData.countOutCar}}</span>
                                    </li>
                                    <li class="fs-6">未出場<br>
                                        <span class="fs-4 text-dark">{{todayAllData.subtract}}</span>
                                    </li>
                                </ul>
                                <div class="parkRatio mt-5 fs-6">
                                    <p>總停車率</p>
                                    <p class="fs-4 text-dark">{{Math.round(todayAllData.rate*100)/100}} %</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h4 class="mb-3">本日電動車</h4>
                                <ul class="instant">
                                    <li class="fs-6">累積進出<br>
                                        <span class="fs-4 text-dark">{{todayElectric.total}}</span>
                                    </li>
                                    <li class="fs-6">累積進場<br>
                                        <span class="fs-4 text-dark">{{todayElectric.countInCar}}</span>
                                    </li>
                                    <li class="fs-6">累積出場<br>
                                        <span class="fs-4 text-dark">{{todayElectric.countOutCar}}</span>
                                    </li>
                                    <li class="fs-6">未出場<br>
                                        <span class="fs-4 text-dark">{{todayElectric.subtract}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 時段流量 -->
                    <div class="tab-pane fade" id="nav-vehicleFlowrate" role="tabpanel"
                        aria-labelledby="nav-vehicleFlowrate-tab">
                        <div class="d-flex mb-2 align-items-center">
                            <input type="month" class="pe-3 me-2" v-model="searchFlowMonthData.Time" @change="searchFlowMonth(searchFlowMonthData)">
                            <button type="submit" class="btn btn-primary me-3 searchFlowMonth"
                                @click="searchFlowMonth(searchFlowMonthData)">
                                按月搜尋
                            </button>
                            <input type="date" class="pe-3 me-2" v-model="searchFlowDateData.Time" @change="searchFlowDate(searchFlowDateData)">
                            <button type="submit" class="btn btn-primary" @click="searchFlowDate(searchFlowDateData)">
                                按日搜尋
                            </button>
                            <button type="button" class="btn btn-outline-primary mb-1 ml-auto"
                                @click="flowToExcel('xlsx')">匯出報表
                            </button>
                        </div>
                        <div class="isLoading d-flex justify-content-center" v-if="isLoading">
                            <img src="../assets/images/loading.svg" alt="loading" class="w-25">
                        </div>
                        <div class="table-responsive flowMonthTable d-none" id="flowMonthTable" style="height: 50vh;">
                            <table class="table table-hover table-bordered text-center">
                                <thead class="bg-light sticky-top">
                                    <tr class="border-b">
                                        <th colspan="12" class="fs-3">每日車輛進出統計表</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2"></th>
                                        <th colspan="4">月租</th>
                                        <th colspan="4">臨停</th>
                                        <th colspan="2">統計</th>
                                    </tr>
                                    <tr class="border-b">
                                        <td colspan="2">日期</td>
                                        <td colspan="2">進場</td>
                                        <td colspan="2">出場</td>
                                        <td colspan="2">進場</td>
                                        <td colspan="2">出場</td>
                                        <td>進場</td>
                                        <td>出場</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="data in organizedMonthFlowData" class="border-b">
                                        <td colspan="2">{{ data.date }}</td>
                                        <td colspan="2">{{ data.monthIn }}</td>
                                        <td colspan="2">{{ data.monthOut }}</td>
                                        <td colspan="2">{{ data.tempIn }}</td>
                                        <td colspan="2">{{ data.tempOut }}</td>
                                        <td>{{ data.monthIn + data.tempIn }}</td>
                                        <td>{{ data.monthOut + data.tempOut }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive flowDateTable d-none" id="flowDateTable" style="height: 50vh;">
                            <table class="table table-hover table-bordered text-center">
                                <thead class="bg-light sticky-top">
                                    <tr class="border-b">
                                        <th colspan="12" class="fs-3">每小時車輛進出統計表</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2"></th>
                                        <th colspan="4">月租</th>
                                        <th colspan="4">臨停</th>
                                        <th colspan="2">統計</th>
                                    </tr>
                                    <tr class="border-b">
                                        <td colspan="2">時間</td>
                                        <td colspan="2">進場</td>
                                        <td colspan="2">出場</td>
                                        <td colspan="2">進場</td>
                                        <td colspan="2">出場</td>
                                        <td>進場</td>
                                        <td>出場</td>
                                    </tr>
                                </thead>
                                <tbody v-for="flow in organizedDateFlowData">
                                    <tr v-if="flow.direction!=2" class="border-b">
                                        <td colspan="2">{{flow.hour}}:00~{{flow.hour}}:59</td>
                                        <td colspan="2">{{ flow.monthIn }}</td>
                                        <td colspan="2">{{ flow.monthOut  }}</td>
                                        <td colspan="2">{{ flow.tempIn }}</td>
                                        <td colspan="2">{{ flow.tempOut }}</td>
                                        <td>{{ flow.monthIn + flow.tempIn }}</td>
                                        <td>{{ flow.monthOut + flow.tempOut }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 查無資料 -->
                        <div class="cantFind-Area-flow">
                            <h3 class="text-center h3">目前無資料</h3>
                        </div>
                    </div>
                    <!-- 交易明細 -->
                    <div class="tab-pane fade" id="nav-transactionDetails" role="tabpanel"
                        aria-labelledby="nav-transactionDetails-tab">
                        <div class="d-flex mb-2 align-items-center">
                            <input type="date" class="pe-3 me-2" v-model="searchTransactionDetailsData.startTime" @change="searchTransactionDetails(searchTransactionDetailsData)">
                            <input type="date" class="pe-3 me-2" v-model="searchTransactionDetailsData.endTime" @change="searchTransactionDetails(searchTransactionDetailsData)">
                            <input type="checkbox" name="isElectric" id="isElectric" checked class="me-2"
                                v-model="searchTransactionDetailsData.isElectric" @change="searchTransactionDetails(searchTransactionDetailsData)">電動車
                            <button type="submit" class="btn btn-primary ml-3"
                                @click="searchTransactionDetails(searchTransactionDetailsData)">
                                搜尋
                            </button>
                            <button type="button" class="btn btn-outline-primary mb-1 ml-auto"
                                @click="transactionDetailstoExcel('xlsx')">匯出報表
                            </button>
                        </div>
                        <div class="isLoading d-flex justify-content-center" v-if="isLoading">
                            <img src="../assets/images/loading.svg" alt="loading" class="w-25">
                        </div>
                        <div class="table-responsive" id="transactionDetailsTable" style="height: 50vh;">
                            <table class="table table-hover table-bordered text-center fs-6">
                                <thead class="bg-light sticky-top">
                                    <th>車號</th>
                                    <th>車種</th>
                                    <th>身分別</th>
                                    <th>電動車</th>
                                    <th>入場時間</th>
                                    <th>出場時間</th>
                                    <th>停留時間(分鐘)</th>
                                    <th>繳費金額</th>
                                </thead>
                                <tbody>
                                    <tr v-for="transactionDetail in transactionDetails" class="align-middle" :key="transactionDetail.id">
                                        <td class="align-middle">{{ transactionDetail.plate }}</td>
                                        <td class="align-middle">{{ transactionDetail.priceClass }}</td>
                                        <td class="align-middle">{{ transactionDetail.carType==0? '臨停' : '月租'}}</td>
                                        <td class="align-middle">{{ transactionDetail.ELECTRIC==1 ? '是' : '否'}}</td>
                                        <td class="align-middle">{{ transactionDetail.ENTERTIME }}</td>
                                        <td class="align-middle">{{ transactionDetail.transTime }}</td>
                                        <td class="align-middle">{{ Math.round(transactionDetail.STAY*60) }}</td>
                                        <td class="align-middle">{{ transactionDetail.amount }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">
                                            <!-- 查無資料 -->
                                            <div class="cantFind-Area">
                                                <h3 class="text-center h3">目前無資料</h3>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 交易統計 -->
                    <div class="tab-pane fade" id="nav-statistics" role="tabpanel" aria-labelledby="nav-statistics-tab">
                        <div class="d-flex mb-2 align-items-center">
                            <input type="date" class="pe-3 me-2" v-model="searchTransactionStatisticsData.startTime" @change="searchTransactionStatistic(searchTransactionStatisticsData)">
                            <input type="date" class="pe-3 me-2" v-model="searchTransactionStatisticsData.endTime" @change="searchTransactionStatistic(searchTransactionStatisticsData)">
                            <input type="checkbox" name="isElectric" id="isElectric" checked class="me-2"
                                v-model="searchTransactionStatisticsData.isElectric" @change="searchTransactionStatistic(searchTransactionStatisticsData)">電動車
                            <button type="submit" class="btn btn-primary ms-3"
                                @click="searchTransactionStatistic(searchTransactionStatisticsData)">
                                搜尋
                            </button>
                            <button type="button" class="btn btn-outline-primary mb-1 ml-auto"
                                @click="transactionStatisticTabletoExcel('xlsx')">匯出報表
                            </button>
                        </div>
                        <div class="isLoading d-flex justify-content-center" v-if="isLoading">
                            <img src="../assets/images/loading.svg" alt="loading" class="w-25">
                        </div>
                        <div class="table-responsive" id="transactionStatisticTable" style="height: 50vh;">
                            <table class="table table-hover table-bordered text-center fs-5" >
                                <thead class="bg-light sticky-top">
                                    <th>日期</th>
                                    <th>計數</th>
                                    <th>總停留分鐘</th>
                                    <th>總繳費金額</th>
                                </thead>
                                <tbody>
                                    <tr v-for="transactionStatistics in transactionStatisticsAll" class="align-middle">
                                        <td class="align-middle">{{ transactionStatistics.TRANSDATE }}</td>
                                        <td class="align-middle">{{ transactionStatistics.countPlate }}</td>
                                        <td class="align-middle">{{ Math.round(transactionStatistics.totalSTAY*60) }}
                                        </td>
                                        <td class="align-middle">{{ transactionStatistics.totalAmount }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <!-- 查無資料 -->
                                            <div class="cantFind-Area-transactionStatisticsAll">
                                                <h3 class="text-center h3">目前無資料</h3>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 過夜車查詢 -->
                    <div class="tab-pane fade" id="nav-overnight" role="tabpanel" aria-labelledby="nav-overnight-tab">
                        <div class="d-flex mb-3 d-flex-column-sm">
                            <div class="form-floating">
                                <input type="number" min="1" class="form-control" id="floatingInput" placeholder="請輸入停放天數"
                                    v-model="searchOvernightData.countDay" @change="searchOvernight">
                                <label for="floatingInput">停放天數</label>
                            </div>
                            <div class="form-floating mx-2">
                                <select class="form-select" id="typeOvernight" v-model="searchOvernightData.carType"
                                    @change="searchOvernight">
                                    <option selected disabled>票卡種類</option>
                                    <option value="1">月租</option>
                                    <option value="0">臨停</option>
                                </select>
                                <label for="floatingSelect">票卡種類</label>
                            </div>
                            <div class="form-check d-flex align-items-center mx-1">
                                <input class="form-check-input" type="checkbox" id="isElectricOvernight" checked
                                    v-model="searchOvernightData.isElectric" @change="searchOvernight">
                                <label class="form-check-label" for="isElectricOvernight">
                                    電動車
                                </label>
                            </div>
                            <button class="btn btn-sm btn-primary" @click="searchOvernight">查詢</button>
                        </div>
                        <div class="isLoading d-flex justify-content-center" v-if="isLoading">
                            <img src="../assets/images/loading.svg" alt="loading" class="w-25">
                        </div>
                        <div class="table-responsive" id="transactionStatisticTable" style="height: 50vh;">
                            <table class="table table-hover table-bordered text-center fs-5">
                                <thead class="bg-light sticky-top">
                                    <th>車號</th>
                                    <th>入場時間</th>
                                    <th>停放天數</th>
                                </thead>
                                <tbody>
                                    <tr v-for="overnight in overnightData" class="align-middle">
                                        <td class="align-middle">{{ overnight.plate }}</td>
                                        <td class="align-middle">{{ overnight.transTime }}</td>
                                        <td class="align-middle">{{ overnight.countDay }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <!-- 查無資料 -->
                                            <div class="cantFind-Area-overnight">
                                                <h3 class="text-center h3">目前無資料</h3>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@latest"></script>
    <!-- 匯出 excel -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.js"></script> -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/FileSaver.js/2.0.5/FileSaver.js"></script> -->
    <!-- <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
    <script src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
        integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
        crossorigin='anonymous'></script>
    <script type="module" src="../main.js"></script>
</body>

</html>